body{
    display: grid;
    grid-template-columns: 0fr 1fr;
    font-family: Arial, sans-serif;
    margin: 0;
}
.menuSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 100vh;
}
.main{
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    border-radius: 10px;
}
.select{
    display: block;
    width: 100%;
    padding: 10px ;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 17px;
    border-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.5s;
}
select:hover{
    box-shadow: 0 0 50px rgb(255,255,255,0);
}
label{
    display: block;
    font-size: 16px;
}
button{
    font-size: large;
    color: white;
    border: 0px;
    width: max-content;
    padding: 15px 30px;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.5s;
    box-shadow: 0 0 10px rgb(0,0,0,0.4);
}
button:hover{

    box-shadow: 0 0 50px rgb(255,255,255,0);
}
.startB{
    margin-top: -3px;
    background-color: #4caf50;
}
.startB:hover{
    background-color: #429c43;
}
.Gcanvas{
    height: 100VH;
}
.onlineB{
    background-color: #5b4caf;
}
.onlineB:hover{
    background-color: #4d429c;
}
.cB{
    background-color: #5b4caf;
    margin-left: 20px;
}
.cB:hover{
    background-color: #4d429c;
}
.border{
    width: 200px;
}
.onDiv{
    display: inline;
    position: sticky;
}
.onlineOP{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position:absolute;
    top:30px;
    right:150px;
    width: 0px;
    height: 0px;
    grid-gap: 11px;
    overflow: hidden;
    /* bottom: 40px; */
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
    transition: all 0.5s;
}

.onlineOP.showIt{
    top:40px;
    right:-70px;
    width: 310px;
    height: 50px;
    padding: 10px;
}

.contOP{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position:absolute;
    top:30px;
    right:120px;
    width: 0px;
    height: 0px;
    grid-gap: 11px;
    overflow: hidden;
    /* bottom: 40px; */
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
    transition: all 0.5s;
}

.contOP.showIt{
    top:40px;
    right:-70px;
    width: 385px;
    height: 50px;
    padding: 10px;
}
.CR,
.JR{
    display: inline;
    background-color: #4caf50;
}
.CR:hover,
.JR:hover{
    background-color: #429c43;
}
.POf,
.POn{
    display: inline;
    background-color: #4caf50;
}
.POf:hover,
.POn:hover{
    background-color: #429c43;
}
.pic{
    filter: drop-shadow(0px 0px 10px blue);
    height: auto;
    width: 300px;
    border-radius: 40px 40px 20px 20px;
}
.createMenu{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    opacity: 0%;
    position: absolute;
    background-color: rgb(0,0,0,0);
    width: 0%;
    height: 0%;
    backdrop-filter: blur(0px);
    transition: all 0.5s;
}
.createMenu.showIt{
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    top: 0%;
    opacity: 100%;
    left: 0%;
}
.nameIn{
    cursor: text;
    border: 0px;
    display: block;
    width: 100%;
    padding: 10px ;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.4);
    transition: all 0.5s;
}
.nameIn:hover{
    box-shadow: 0px 0px 4px rgb(0,0,0,0.2);
}
.color{
    position: sticky;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.4);
    border-radius: 20%;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 5px;
    background-color: white;
    height: 55px;
}
.color:hover{
    box-shadow: 0px 0px 50px rgb(255,255,255,0);
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.Red .circle{
    background-color: red;
}
.Blue .circle{
    background-color: blue;
}
.Green .circle{
    background-color: rgb(0,255,0);
}
.White .circle{
    background-color: white;
}
.Pink .circle{
    background-color: rgb(255, 125, 125);
}

.colorS{
    display: inline;
}
.colorR{
    margin-top: -10px;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.listColors{
    position: absolute;
    padding: 0px;
    flex-direction: row;
    display: flex;
    border-radius: 20px;
    backdrop-filter: blur(0px);
    box-shadow: 0px 0px 0px rgb(0,0,0,0);
    overflow: hidden;
    top: 50px;
    width: 0px;
    height: 0px;
    left: 171px;
    transition: all 0.5s;
}
.listColors.showIt{
    padding: 15px 10px 10px 10px;
    width: 370px;
    height: 58px;
    left: 0px;
    top: 55px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.4);
    backdrop-filter: blur(4px);
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
.shake{
    box-shadow: 0px 0px 50px rgb(255,0,0,1);
    animation: shake 1s ease-in-out;
}
.onMain{
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 200px rgb(0,0,0,1);
    border-radius: 10px;
    transition: all 1s;
}
.joinMenu{
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 50%;
     left: 50%;
     opacity: 0%;
     position: absolute;
     background-color: rgb(0,0,0,0);
     width: 0%;
     height: 0%;
     backdrop-filter: blur(0px);
     transition: all 0.5s;
 }
.joinMenu.showIt{
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    top: 0%;
    opacity: 100%;
    left: 0%;
}